<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Preporučiteljski sustav zasnovan na podacima o interakciji na Facebooku</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@Microsoft.AspNet.Facebook.GlobalFacebookConfiguration.Configuration.AppId', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a target="_top" href="@ViewBag.AppUrl@Url.Action("Index", "Home")" class="navbar-brand">Refresh</a>
                </div>
            </div>
        </nav>
        <header id="topHeader">
            <style>
                h2 {text-align: center;}
            </style>
            <a href="http://www.fer.unizg.hr/"><img style="margin:0px auto;display:block" src="http://www.noc-istrazivaca.com/wp-content/uploads/2014/09/Unizg-fer-logo-300x81.png" height="81" width="300"></a>
            <h2>Preporučiteljski sustav zasnovan na podacima o interakciji na Facebooku</h2>
        </header>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Domagoj Hrestak, Fakultet elektrotehnike i računarstva</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>