@using SystemRecommenderApp.Models
@using Microsoft.AspNet.Facebook.Models
@using System;
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
    Random rnd = new Random();
}

<article id="content">
    <h4>Zatražite preporuke sadržaja po kategorijama. Preporuke su bazirane na interesima vaših najboljih prijatelja na Facebook-u.</h4>
    <div class="left">
        <p>Prijatelji koji koriste aplikaciju, pored imena se nalazi procjenjeni faktor zajedničkih interesa:</p>
        
        @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
        {
            foreach (var myFriend in @Model.Friends.Data)
            {
                <a href="@myFriend.Link" target="_blank">
                        <div class="photoTile">
                            <label>@myFriend.Name @Model.GetFactor(myFriend.Id)</label>
                            @if (myFriend.Picture != null && myFriend.Picture.Data != null)
                            {
                                <img src="@myFriend.Picture.Data.Url" />
                            }
                        </div>
                </a>
            }
        }
        else
        {
            <p>Nitko od vaših prijatelja ne koristi ovu aplikaciju.</p>
        }
    </div>
    <div class="right">
        <p>Odaberite vrstu sadržaja za preporučivanje. Preporuke se pronalaze na temelju faktora zajedničkih interesa.</p>
        <form>
            <div class="well carousel-search hidden-sm">
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle btn-select"data-toggle="dropdown" href="#">Vrsta sadržaja<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="btnSelect">
                        <li><a href="#" id="Movies">Filmovi</a></li>
                        <li><a href="#" id="Television">TV serija</a></li>
                        <li><a href="#" id="Books">Knjige</a></li>
                        <li><a href="#" id="Music">Muzika</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" id="btnSearch" class="btn btn-primary">Pokreni</button> 
                </div>
            </div>
        </form>
        <div id="directions_panel" style="margin:20px;"></div>
        

    </div>
</article>
<script>
    var recommendationPanel = document.getElementById("directions_panel");
    //combobox klikanje
    $(".dropdown-menu li a").click(function () {
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

    function dispFunc(name, link, desc) {
        recommendationPanel.innerHTML += 'Preporučamo vam: ' + '<a href="' + link + '">' + name + '</a><br/><br/>' + 'Detaljnije:' + desc;
    }

    $("#btnSearch").click(function () {
        recommendationPanel.innerHTML = '';
        var category = $('.btn-select').text();
        switch (category) {
            case "Filmovi ":
                @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
                {
                    foreach (var f in Model.Friends.Data)
                    {
                        if (f.Id == Model.GetFriend() && f.Movies != null && f.Movies.Data != null && f.Movies.Data.Count > 0)
                        {
                            int i = 0;
                            int ran = rnd.Next(0, f.Movies.Data.Count);
                            foreach (var item in f.Movies.Data) 
                            {
                                if (i == ran) {                                 
                                    @:dispFunc('@item.Name', '@item.Link', '@item.Description');
                                    }
                                i++;
                            }
                        }
                    }
                }
                break;
            case "TV serija ":
                @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
                {
                    foreach (var f in Model.Friends.Data)
                    {
                        if (f.Id == Model.GetFriend() && f.Television != null && f.Television.Data != null && f.Television.Data.Count > 0)
                        {
                            int i = 0;
                            int ran = rnd.Next(0, f.Television.Data.Count);
                            foreach (var item in f.Television.Data) 
                            {
                                if (i == ran) {                                 
                                    @:dispFunc('@item.Name', '@item.Link');
                                }
                                i++;
                            }
                        }
                    }
                }
                break;
            case "Knjige ":
                @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
                {
                    foreach (var f in Model.Friends.Data)
                    {
                        if (f.Id == Model.GetFriend() && f.Books != null && f.Books.Data != null && f.Books.Data.Count > 0)
                        {
                            int i = 0;
                            int ran = rnd.Next(0, f.Books.Data.Count);
                            foreach (var item in f.Books.Data) 
                            {
                                if (i == ran) {                                 
                                    @:dispFunc('@item.Name', '@item.Link');
                                }
                                i++;
                            }
                        }
                    }
                }
                break;
            case "Muzika ":
                @if (Model.Friends.Data != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
                {
                    foreach (var f in Model.Friends.Data)
                    {
                        if (f.Id == Model.GetFriend() && f.Music != null && f.Music.Data != null && f.Music.Data.Count > 0)
                        {
                            int i = 0;
                            int ran = rnd.Next(0, f.Music.Data.Count);
                            foreach (var item in f.Music.Data) 
                            {
                                if (i == ran) {                                 
                                    @:dispFunc('@item.Name', '@item.Link');
                                }
                                i++;
                            }
                        }
                    }
                }
                break;
        }
    });

</script>