@using SystemRecommenderApp.Models
@using Microsoft.AspNet.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}

<article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h4>Zatražite preporuke sadržaja u par sekundi. Preporuke su bazirane na interesima vaših prijatelja.</h4>
</article>

<article id="content">
    <div class="left">
        <h4>Prijatelji koji koriste aplikaciju</h4>
        @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
        {
            foreach (var myFriend in @Model.Friends.Data)
            {
            <a href="@myFriend.Link" target="_blank">
                <div class="photoTile">
                    <label>@myFriend.Name</label>
                    @if (myFriend.Picture != null && myFriend.Picture.Data != null)
                    {
                        <img src="@myFriend.Picture.Data.Url" />
                    }
                </div>
            </a>
            }
        }
        else
        {
            <p>Nitko od vaših prijatelja ne koristi ovu aplikaciju. :(</p>
        }
    </div>
    <div class="right">
        @*<h4>Photos</h4>
        @if (Model.Photos != null && Model.Photos.Data != null && Model.Photos.Data.Count > 0)
        {
            foreach (var photo in @Model.Photos.Data)
            {
            <a href="@photo.Link" target="_blank">
                <div class="photoTile">
                    <img src="@photo.ThumbnailUrl" />
                </div>
            </a>
            }
        }
        else
        {
            <p>No photo available.</p>
        }*@
        <h4>Odaberi vrstu sadržaja za koju tražiš preporuku</h4>
        <!-- Search box Start -->
        <form>
            <div class="well carousel-search hidden-sm">
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle btn-select" id="btnSelect" data-toggle="dropdown" href="#">Vrsta sadržaja<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="Movie">Filmovi</a></li>
                        <li><a href="#" id="Tv show">TV serija</a></li>
                        <li><a href="#" id="Book">Knjige</a></li>
                        <li><a href="#" id="Games/toys">Igre</a></li>
                        <li><a href="#" id="Musician/band">Muzičari/Bendovi</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" id="btnSearch" class="btn btn-primary" onclick="Filtriraj()">Pokreni</button> 
                </div>
            </div>
        </form>
        <!-- Search box End -->
        @if (Model.Likes != null && Model.Likes.Data != null && Model.Photos.Data.Count > 0)
        {
            foreach (var like in @Model.Likes.Data)
            {
                <p>@like.Name, @like.Category</p>
            }
        }
    </div>
</article>
<script>
    //combobox klikanje
    $(".dropdown-menu li a").click(function () {
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

    /*$("#btnSearch").click(function () {
    });*/
    function Filtriraj() {
        alert($(this).parents('.btn-group').find('.dropdown-toggle').id);
        //$(this).parents(".input-group-btn").find('.btn').text($(this).text());
    }
</script>